<!-- Begin Latest News Section -->
<!-- (Actually, this is now the meeting schedule...) -->
<section id="latest-news" class="latest-news">
	<div class="content-wrapper">
	  <a name="schedule"></a>
	<div class="col-lg-10 col-lg-offset-1">
	  <h3>{{ site.latestNewsTitle }}: {{ site.eventDate}}</h3>
<!-- original content. Commented out in case useful later
	  <article class="row">
	  {% for post in site.posts limit:2 %}
	  {% assign postUrl = site.baseurl | append: post.url %}
	<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
	  <h6>{{ post.title }}</h6>
	  <p class="post-body">{{ post.content | strip_html | truncate: 250 }} <a href="{{ postUrl }}">continue reading</a></p>
	</div>
	{% endfor %}
	</article>
-->
	</div>


<STYLE TYPE="text/css">
<!--
TD{font-family: Arial; font-size: 16pt; text-align: left; height: 30px;}
table{display: block; overflow: scroll;}
--->
</STYLE>
		

<div style="width:100%; overflow-x:auto;">

 <table align="center" border=0 style="width:1000px;">
		 
	 <tr>
	 <td width=30%>(Japan Standard Time)</td>
		<td width=70%>Tentative program</td>
			 </tr> 
	 <tr>
		<td width=30%>Day 1</td>
		<td width=70%><a href="https://zonestamp.toolforge.org/1635228016">(find your local start time)</a></td>
	</tr>
	<tr>
		<td width=30%>15:00 - 15:30</td>
		<td width=70%>Opening icebreaker</td>
	</tr>
	<tr>
		<td width=30%>15:30 - 16:00</td>
		<td width=70%>Flash talks</td>
	</tr>
	<tr>
		<td width=30%>16:00 - 17:00</td>
		<td width=70%>Workshops (2 in parallel): Graphic recording / Translating intercultural contexts </td>
	</tr>
	 <tr>
 	<td>    </td>
  </tr>
	<tr>
		<td width=30%>Day 2</td>
		<td width=70%><a href="https://zonestamp.toolforge.org/1635296451">(find your local start time)</a></td>
	</tr>
  <tr>
    <td width=30%>10:00 - 10:30</td>
    <td width=70%>Keynote</td>
  </tr>
	<tr>
    <td width=30%>10:30 - 11:30</td>
    <td width=70%>Workshops (2 in parallel): Planning engaging virtual events / DOI, Altmetric and tools for impact </td>
  </tr>
  <tr>
    <td width=30%>11:30 - 12:00</td>
    <td width=70%>Panel discussion</td>
  </tr>
  <tr>
    <td width=30%>12:00 - 13:30</td>
    <td width=70%>Lunch + virtual networking</td>
  </tr>
 
	 
	 
</table> 
<br>
 <p>（✴︎）Content is subject to change</p>
<!-- <p>（✴︎）マークが付いているセッションは<a href="https://www.facebook.com/EurekAlert/" target="_blank">ライブ配信</a>あり</p>
<p>（✴︎）These sessions will be <a href="https://www.facebook.com/EurekAlert/" target="_blank">livestreamed</a>.</p>
<p style="font-size: 16pt"><a href="../JapanSciCom2019Program.pdf" target="_blank">Full program (.pdf)</a></p> -->
</div>
</div>
</section></p>

<!-- End Latest News Section -->
