<!-- Begin Latest News Section -->
<!-- (Actually, this is now the meeting schedule...) -->
<section id="latest-news" class="latest-news">
	<div class="content-wrapper">
	  <a name="schedule"></a>
	<div class="col-lg-10 col-lg-offset-1">
	  <h3>{{ site.latestNewsTitle }}: {{ site.eventDate}}</h3>
<!-- original content. Commented out in case useful later
	  <article class="row">
	  {% for post in site.posts limit:2 %}
	  {% assign postUrl = site.baseurl | append: post.url %}
	<div class="post col-md-6 col-sm-6 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
	  <h6>{{ post.title }}</h6>
	  <p class="post-body">{{ post.content | strip_html | truncate: 250 }} <a href="{{ postUrl }}">continue reading</a></p>
	</div>
	{% endfor %}
	</article>
-->
	</div>


<STYLE TYPE="text/css">
<!--
TD{font-family: Arial; font-size: 16pt; text-align: left; height: 30px;}
table{display: block; overflow: scroll;}
--->
</STYLE>

<div style="width:100%; overflow-x:auto;">

 <table align="center" border=0 style="width:1000px;">
 <tr>
  <td>Thursday, May 16</td>
	</tr>
	<tr>
 	<td>    </td>
  </tr>
 <tr>
	<td width=20%>14:00 - 14:30</td>
	<td width=80%>Registration / 開場と参加受付</td>
 </tr>
 <tr>
	<td width=20%>14:30 - 14:45</td>
	<td width=80%>Opening remarks / 開会挨拶（✴︎）</td>
 </tr>
 <tr>
	<td width=20%>14:45 - 15:15</td>
	<td width=80%>Keynote presentation（１）/ 基調講演（１）- Kumi O. Kuroda（✴︎）<a href="https://youtu.be/nxTwjaDjP5Y" target="_blank">video</a></td>
 </tr>
 <tr>
	<td width=20%>15:15 - 15:25</td>
	<td width=80%>Q&A  / 質疑応答（✴︎）</td>
 </tr>
 <tr>
	<td width=20%>15:25 - 16:00</td>
	<td width=80%>Coffee / コーヒーブレイク</td>
 </tr>
 <tr>
	<td width=20%>16:00 - 17:30</td>
	<td width=80%> Workshop（１）- mastering Wikipedia / ワークショップ（１）- Wikipedia編集のコツ</td>
 </tr>
 <tr>
	<td width=20%>17:30 - 18:15</td>
	<td width=80%>Discussion session / ディスカッション</td>
 </tr>
 <tr>
	<td width=20%>18:15 - 20:00</td>
	<td width=80%>Reception sponsored by EurekAlert! / 懇親会</td>
 </tr>
 <tr>
	<td>    </td>
 </tr>
 <tr>
	<td>    </td>
 </tr>
 <tr>
 <tr>
  <td>Friday, May 17</td>
	</tr>
	<tr>
 	<td>    </td>
  </tr>
	<tr>
    <td width=20%>9:00 - 9:25</td>
    <td width=80%>Doors open / 開場</td>
  </tr>
	<tr>
		<td width=20%>9:25 - 9:30</td>
		<td width=80%>Opening remarks / ２日目挨拶（✴︎）</td>
	</tr>
	<tr>
		<td width=20%>9:30 - 10:00</td>
		<td width=80%>Keynote presentation（２）/ 基調講演（２）- Pete Farley（✴︎）<a href="https://youtu.be/QwP-rGUj1OY" target="_blank">video</a></td>
	</tr>
	<tr>
		<td width=20%>10:00 - 10:10</td>
		<td width=80%>Q&A / 質疑応答（✴︎）</td>
	</tr>
	<tr>
		<td width=20%>10:10 - 10:40</td>
		<td width=80%>Keynote presentation（３）/ 基調講演（３）- Drew Berry（✴︎）</td>
	</tr>
  <tr>
    <td width=20%>10:40 - 10:50</td>
    <td width=80%>Q&A / 質疑応答（✴︎）</td>
  </tr>
	<tr>
    <td width=20%>10:50 - 11:20</td>
    <td width=80%>Coffee / コーヒーブレイク</td>
  </tr>
  <tr>
    <td width=20%>11:20 - 12:20</td>
    <td width=80%>Flash talks: hear from institutions around Japan / 国内の各機関より5分間プレゼン（✴︎）<a href="https://youtu.be/_eZMR_-MQPE" target="_blank">video</a></td>
  </tr>
  <tr>
    <td width=20%>12:20 - 12:30</td>
    <td width=80%>Group photo / 集合写真撮影</td>
  </tr>
  <tr>
    <td width=20%>12:30 - 14:00</td>
    <td width=80%>Lunch: explore local restaurants in the Ōokayama area / 昼食（各自）</td>
  </tr>
  <tr>
    <td width=20%>14:00 - 15:30</td>
    <td width=80%>Workshop（２）- scientific design / ワークショップ（２）- 科学イラストレーション</td>
  </tr>
  <tr>
    <td width=20%>15:30 - 16:00</td>
    <td width=80%>Coffee / コーヒーブレイク</td>
  </tr>
  <tr>
    <td width=20%>16:00 - 17:30</td>
    <td width=80%>Workshop（３）- media strategy / ワークショップ（３）- メディア戦略</td>
  </tr>
  <tr>
    <td width=20%>17:30 - 17:45</td>
    <td width=80%>Conclusions / まとめと閉会挨拶</td>
  </tr>
</table>
<br>
<p>（✴︎）マークが付いているセッションは<a href="https://www.facebook.com/EurekAlert/" target="_blank">ライブ配信</a>あり、2日目の午前中のセッションのみ同時通訳あり</p>
<p>（✴︎）These sessions will be <a href="https://www.facebook.com/EurekAlert/" target="_blank">livestreamed</a>; simultaneous interpretation only for morning sessions on May 17.</p>
<p style="font-size: 16pt"><a href="../JapanSciCom2019Program.pdf" target="_blank">Full program (.pdf)</a></p>
</div>
</div>
</section></p>

<!-- End Latest News Section -->
